%h1 Sources
%nav
  %ul
    - @factions.each do |faction|
      %li
        %a.faction{href: '#', data: {faction_id: faction.id}}= faction.name
        = image_tag faction.picture.url(:thumb)

%h2 Dataslates
%nav#dataslates

%h2 Dataslate Info
#dataslate
