%h1 Sources
%nav
  %ul
    - @sources.each do |source|
      %li
        %a.source{href: '#', data: {source_id: source.id}}= source.title

%h2 Dataslates
%nav#dataslates

%h2 Dataslate Info
#dataslate
  %h3
  %ul
